# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\jaspe\Documents\school\WEB 2\2021\exercises\WEB-2-2021-exercises\week 1 (2)\opdracht 2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
